@import "./mixins";

.img-responsive {
	@include img-responsive;
}
.show {
	display: initial;
}

.content {
	height: 5000px;
	background: $white;
}

h1,
h2,
h3,
h4,
h5 {
	font-family: $header-font;
	font-weight: $bold;
}
