@import "./mixins";

.img-responsive {
	@include img-responsive;
}
.show {
	display: initial;
}
.content-wrapper {
	margin-left: 3vw;
}
.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
}

h1,
h2,
h3,
h4,
h5 {
	font-family: $header-font;
	font-weight: $bold;
}

.text-center {
	text-align: center;
}
.text-right {
	text-align: right;
}
