@import "./mixins";

.img-responsive {
	@include img-responsive;
}
.show {
	display: initial;
}
.content-wrapper {
	margin-left: 3vw;
}
.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
	width: 100%;
}

h1,
h2,
h3,
h4,
h5 {
	font-family: $header-font;
	font-weight: $bold;
}

.text-center {
	text-align: center;
}
.text-right {
	text-align: right;
}

.text-uppercase {
	text-transform: uppercase;
}

.btn {
	text-transform: uppercase;
	text-decoration: none;
	color: $white;
	background: $primary-color;
	border: 3px solid $primary-color;
	padding: 12px 25px;
	margin-top: 20px;
	@include font-size($button);
	font-weight: 600;
	letter-spacing: 2px;
	display: inline-block;
	transition: 0.3s linear;

	&:hover {
		background: transparent;
		color: $primary-color;
		transition: 0.3s linear;
	}
}
