@import "./mixins";

.hero {
	position: relative;
	min-height: 40vh;
	display: flex;
	align-items: center;
	padding-bottom: 60px;
	// border-bottom: 1px solid red;
	// justify-content: flex-end;
	// border-bottom: 1px solid $primary-color;
	// background: linear-gradient(rgba($white, 0.4), rgba($grey, 0.4)),
	// 	url(../img/dev.svg);
	// background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2)),
	// 	url("../img/image.jpg");
	// background-blend-mode: multiply;
	// background-image: url(../img/dev.svg);
	background-color: $back;
	// background-size: 150px 200px;
	// background-position: right center;
	// background-repeat: no-repeat;
	color: $white;
	// box-shadow: 0 2px 10px 3px rgba($text-color, 0.9);
	// background-color: #ffffff;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='100%25' gradientTransform='rotate(240)'%3E%3Cstop offset='0' stop-color='%23ffffff'/%3E%3Cstop offset='1' stop-color='%232f2fa2'/%3E%3C/linearGradient%3E%3Cpattern patternUnits='userSpaceOnUse' id='b' width='540' height='450' x='0' y='0' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.1'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect x='0' y='0' fill='url(%23b)' width='100%25' height='100%25'/%3E%3C/svg%3E");
	// background-attachment: fixed;
	// background-size: ;
	background-size: cover;
	background-position: center;
	background-repeat: repeat;

	&::before,
	&::after {
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		height: 60px;
		width: 100%;
		// background-color: $back;
	}
	&::before {
		background: linear-gradient(to left, $white 45%, $primary-color);
		clip-path: polygon(
			0% 49px,
			100% 0%,
			100% 3px,
			0% 52px,
			0% 57px,
			100% 8px,
			100% 11px,
			0% 100%
		);
	}
	&::after {
		background-color: $white;
		clip-path: polygon(100% 100%, 100% 11px, 0% 100%);
		bottom: -5px;
		// clip-path: polygon(
		// 	0% 49px,
		// 	100% 0%,
		// 	100% 3px,
		// 	0% 52px,
		// 	0% 57px,
		// 	100% 8px,
		// 	100% 11px,
		// 	0% 100%
		// );
	}
	.hero-content-wrapper {
		p {
			font-size: $sub-header;
			font-weight: $bold;
			letter-spacing: 2px;
			text-transform: uppercase;
			color: $white;
			// text-shadow: -5px 10px $white;
			// text-shadow: 0px 10px 20px $back, 0px -10px 20px $back;
			text-shadow: 10px 10px 25px $white, -10px 10px 25px $white,
				-10px -10px 25px $white, 10px -10px 25px $white;
		}
		.typing {
			// font-size: $display;
			@include font-size($display);
			font-weight: $bolder;
			letter-spacing: 3px;
			text-transform: uppercase;
			// color: $back;
			// background-image: url("https://images.unsplash.com/photo-1567095761054-7a02e69e5c43?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80");

			// background-color: #90e0ef;
			// background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='120' height='120' viewBox='0 0 120 120'%3E%3Cpolygon fill='%23ffffff' points='120 120 60 120 90 90 120 60 120 0 120 0 60 60 0 0 0 60 30 90 60 120 120 120 '/%3E%3C/svg%3E");
			background-color: #ffffff;
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%23e9f9fc' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%23d3f3f9' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%23bcecf5' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%23a6e6f2' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%2390e0ef' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
			background-size: contain;
			background-repeat: repeat;
			-webkit-text-fill-color: transparent;
			-webkit-background-clip: text;
			background-clip: text;
			// text-shadow: -3px 0 $primary-color, 0 3px $primary-color,
			// 	3px 0 $primary-color, 0 -3px $primary-color;
			// text-shadow: 0px 5px $primary-color;

			&::after {
				content: "";
				/* position: absolute; */
				width: 1px;
				height: 90%;
				margin-left: 5px;
				border-right: 2px solid $white;
				animation: blink 0.6s infinite ease;
			}

			@keyframes blink {
				0% {
					opacity: 0;
				}
				100% {
					opacity: 1;
				}
			}
		}
	}
}
