@media screen and (max-width: 4000px) and (min-width: 768px) {
	.side-nav {
		position: fixed;
		top: 0;
		left: 0;
		z-index: 5;
		&:hover {
			width: 12vw;
			padding: 2vh 0.7vw;
			transition: all 0.2s ease;
			.brand {
				.logo {
					width: 40%;
					transition: 0.5s linear;
				}
				.brand-name {
					@include flex-direction-center(row);
				}
			}
			.navbar {
				// display: none;
				.nav-item {
					margin-bottom: 0.4rem;
					transition: 0.5s linear;
					.nav-link {
						// @include flex-direction-center(row);

						.nav-icon {
							width: 30%;
						}
						.nav-text {
							display: block;
							text-align: center;
							font-size: 1.1rem;
							line-height: 2rem;
							font-weight: 700;
							letter-spacing: 1px;
							font-family: monospace;
						}
					}
					&:hover {
						.nav-icon {
							background: $grey;
							transition: 0.5s ease-in;
						}
						.nav-text {
							color: $white;
						}
					}
				}
			}
			.social-icons {
				padding: 0 0.1vw;
				transition: 0.3s linear;
				width: 100%;
				@include flex-direction-center(row);
				justify-content: center;
				.social-icon {
					margin: 0 0.1vw;
					width: 20%;
					transition: 0.3s linear;

					&:hover {
						background: $white;
						transform: translateY(-5px);
					}
				}
			}
		}
	}
}

@media (min-width: 1200px) {
	.hero {
		min-height: 38vh;
	}
	.about {
		.container {
			.about-content-wrapper {
				.contact-info {
					.copy {
						// text-align: center;
						.titles {
							h2 {
								@include font-size($header);
							}
							h3 {
								@include font-size($sub-header);
							}
						}
						.emails,
						.phone,
						.github {
							padding: 0 7%;
							.email-addresses,
							.phone-numbers {
								a {
									@include font-size($base * 1.2);

									img {
										width: 25px;
										height: 25px;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: 991px) {
	.content-wrapper {
		margin-left: 6vw;
	}
	.side-nav {
		width: 7vw;
		&:hover {
			width: 16vw;
		}
	}
	.hero {
		.hero-content-wrapper {
			p {
				@include font-size($sub-header-md);
				letter-spacing: 1px;
			}
			.typing {
				@include font-size($display-md);
			}
		}
	}
}
@media screen and (max-width: 767px) {
	.content-wrapper {
		margin-left: 0;
	}
	.side-nav {
		&:hover {
			width: 100vw;
		}
		&.scrolled {
			height: 10vh;
			position: sticky;
			top: 0;
			transition: all 0.6s ease-out;
			z-index: 100;

			.brand {
				.logo {
					width: 5%;
				}
			}
			.toggle {
				width: 4%;
			}
		}

		position: relative;
		width: 100vw;
		margin: 0 auto;
		height: 11vh;
		border-radius: 0;
		padding: 0;
		// z-index: 100;
		@include flex-direction-center(column);
		align-items: flex-start;

		.brand {
			@include flex-direction-center(row);
			// border: 2px solid $grey;
			padding: 0 7vw;
			justify-content: space-between;

			.logo {
				width: 9%;
			}

			.brand-name {
				margin-left: 10px;
				@include flex-direction-center(row);
			}
		}
		.toggle {
			box-sizing: border-box;

			cursor: pointer;
			display: block;
			@include img-size;
			// padding: 2%;
			width: 8%;
		}
		.mobile-menu-close-icon {
			display: initial;
		}

		.navbar {
			// display: none;
			box-sizing: border-box;
			width: 100vw;
			min-height: 100vh;
			padding: 0;
			background: #2e2e2e;
			z-index: 2;
			position: absolute;
			left: 0;
			top: 0;

			.nav-links {
				@include flex-direction-center(column);
				justify-content: space-around;
				position: relative;
				padding: 4rem 0;
				.mobile-menu-close-icon {
					width: 8%;
					position: absolute;
					top: 5px;
					right: 20px;
					cursor: pointer;
				}
			}

			.nav-item {
				// border: 1px solid $secondary-color;
				padding: 0.7rem 0;
				margin-bottom: 0;

				.nav-link {
					justify-content: space-between;
					.nav-icon {
						width: 40%;
					}
					.nav-text {
						display: block;
						text-align: center;
						font-size: 1.3rem;
						line-height: 2.6rem;
						font-weight: 700;
						letter-spacing: 1px;
						font-family: monospace;
					}
				}
			}
		}
		.line {
			border: 1px solid #f5f5f5;
		}
		.social-icons {
			@include flex-direction-center(column);
			justify-content: space-evenly;
			align-items: flex-end;
			position: absolute;
			top: 30vh;
			right: 10px;
			// transform: rotate(90deg);
			z-index: 5;
			.social-icon {
				width: 6%;
				margin: 0.2vh 0.5vw;
				// transform: rotate(-90deg);
			}
		}
		.toggle-display {
			transform: translateY(-150%);
			transition: 0.4s ease-in-out;
		}
		.toggle-display-social {
			transform: translateX(-150%);
			transition: 0.2s ease-in-out;
		}
	}
	.hero {
		min-height: 50vh;
		background-color: #2f2fa2;
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='540' height='450' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='.1'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/svg%3E");
		// background-position: 50% 50%;

		&::before,
		&::after {
			background: $white;
		}
	}
	@import "./mixins";

	.about {
		margin-top: 15px;

		.container {
			// border: 1px solid #000;
			.about-content-wrapper {
				flex-direction: column;
				.contact-info {
					width: 100%;
					margin-bottom: 50px;

					.copy {
						// text-align: center;
						.titles {
							h2 {
								@include font-size($header-md);
							}
							h3 {
								@include font-size($sub-header-md);
								text-transform: capitalize;
							}
						}
						.emails,
						.phone,
						.github {
							// width: 80%;
							@include flex-direction-center(row);
							justify-content: center;
							padding: 0 2%;

							.email-addresses,
							.phone-numbers {
								a {
									@include font-size($base * 1);
									font-weight: 500;
									@include flex-direction-center(row);

									img {
										width: 20px;
										height: 20px;
										margin-right: 15px;
									}
								}
							}
						}
					}
				}

				.about-content {
					flex-basis: 100%;
				}
			}
		}
	}
}
@media screen and (max-width: 570px) {
	.side-nav {
		.brand {
			.logo {
				width: 13%;
			}
		}
		.toggle {
			width: 11%;
		}
		&.scrolled {
			.brand {
				.logo {
					width: 12%;
				}
			}
			.toggle {
				width: 10%;
			}
		}
	}
	.hero {
		.hero-content-wrapper {
			p {
				@include font-size($sub-header-sm);
				letter-spacing: 1px;
			}
			.typing {
				@include font-size($display-sm);
			}
		}
	}

	.about {
		.container {
			.about-content-wrapper {
				.contact-info {
					.copy {
						// text-align: center;
						.titles {
							h2 {
								@include font-size($header-sm);
							}
							h3 {
								@include font-size($sub-header-sm);
							}
						}
						.emails,
						.phone,
						.github {
							.email-addresses,
							.phone-numbers {
								a {
									@include font-size($base-sm);

									img {
										width: 16px;
										height: 16px;
										margin-right: 10px;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
