@media screen and (max-width: 4000px) and (min-width: 768px) {
	.side-nav {
		position: fixed;
		top: 0;
		left: 0;
		z-index: 5;
		&:hover {
			width: 12vw;
			padding: 2vh 0.7vw;
			transition: all 0.4s ease-in;
			.brand {
				.logo {
					width: 40%;
					transition: 1.9s ease-in;
				}
				.brand-name {
					@include flex-direction-center(row);
				}
			}
			.navbar {
				// display: none;
				.nav-item {
					margin-bottom: 0.4rem;
					transition: 1.9s ease-in;
					.nav-link {
						// @include flex-direction-center(row);

						.nav-icon {
							width: 20%;
						}
						.nav-text {
							display: block;
							text-align: center;
							font-size: 1.1rem;
							line-height: 2rem;
							font-weight: 700;
							letter-spacing: 1px;
							font-family: monospace;
						}
					}
					&:hover {
						.nav-icon {
							background: $grey;
							transition: 1.9s ease-in;
						}
						.nav-text {
							color: $white;
						}
					}
				}
			}
			.social-icons {
				padding: 0 0.1vw;
				transition: 1.9s ease-in;
				width: 100%;
				@include flex-direction-center(row);
				justify-content: center;
				.social-icon {
					margin: 0 0.1vw;
					width: 20%;
					transition: 1.9s linear;

					&:hover {
						background: $white;
						transform: translateY(-5px);
					}
				}
			}
		}
	}
}

@media screen and (max-width: 991px) {
	.side-nav {
		width: 7vw;
		&:hover {
			width: 16vw;
		}
	}
}
@media screen and (max-width: 767px) {
	.side-nav {
		&:hover {
			width: 100vw;
		}
		&.scrolled {
			height: 10vh;
			position: fixed;
			transition: all 0.6s ease-out;

			.brand {
				.logo {
					width: 5%;
				}
			}
			.toggle {
				width: 4%;
			}
		}

		position: relative;
		width: 100vw;
		margin: 0 auto;
		height: 11vh;
		border-radius: 0;
		padding: 0;
		@include flex-direction-center(column);
		align-items: flex-start;

		.brand {
			@include flex-direction-center(row);
			// border: 2px solid $grey;
			padding: 0 7vw;
			justify-content: space-between;

			.logo {
				width: 9%;
			}

			.brand-name {
				margin-left: 10px;
				@include flex-direction-center(row);
			}
		}
		.toggle {
			box-sizing: border-box;

			cursor: pointer;
			display: block;
			@include img-size;
			// padding: 2%;
			width: 8%;
		}
		.mobile-menu-close-icon {
			display: initial;
		}

		.navbar {
			// display: none;
			box-sizing: border-box;
			width: 100vw;
			min-height: 100vh;
			padding: 0;
			background: #2e2e2e;
			z-index: 2;
			position: absolute;
			left: 0;
			top: 0;

			.nav-links {
				@include flex-direction-center(column);
				justify-content: space-around;
				position: relative;
				padding: 4rem 0;
				.mobile-menu-close-icon {
					width: 8%;
					position: absolute;
					top: 5px;
					right: 20px;
					cursor: pointer;
				}
			}

			.nav-item {
				// border: 1px solid $secondary-color;
				padding: 0.7rem 0;
				margin-bottom: 0;

				.nav-link {
					justify-content: space-between;
					.nav-icon {
						width: 40%;
					}
					.nav-text {
						display: block;
						text-align: center;
						font-size: 1.3rem;
						line-height: 2.6rem;
						font-weight: 700;
						letter-spacing: 1px;
						font-family: monospace;
					}
				}
			}
		}
		.line {
			border: 1px solid #f5f5f5;
		}
		.social-icons {
			@include flex-direction-center(column);
			justify-content: space-evenly;
			align-items: flex-end;
			position: absolute;
			top: 30vh;
			right: 10px;
			// transform: rotate(90deg);
			z-index: 5;
			.social-icon {
				width: 6%;
				margin: 0.2vh 0.5vw;
				// transform: rotate(-90deg);
			}
		}
		.toggle-display {
			display: none;
		}
	}
}
@media screen and (max-width: 570px) {
	.side-nav {
		.brand {
			.logo {
				width: 13%;
			}
		}
		.toggle {
			width: 11%;
		}
		&.scrolled {
			.brand {
				.logo {
					width: 12%;
				}
			}
			.toggle {
				width: 10%;
			}
		}
	}
}
