@mixin shape {
  clip-path: polygon(
    0% 20%,
    30% 0%,
    70% 0%,
    100% 20%,
    100% 80%,
    70% 100%,
    30% 100%,
    0% 80%
  );
}
@mixin img-size {
  img {
    width: 100%;
    padding: 15%;
  }
}
@mixin img-responsive {
  width: 100%;
  height: auto;
}
@mixin flex-direction-center($direction) {
  display: flex;
  flex-direction: $direction;
  align-items: center;
}

@mixin font-size($name) {
  font-size: $name;
  // line-height: calc(#{$name} + 1.5rem);
  line-height: $name * 1.5;
}
