@import "./mixins";

// h1 {
//   @include font-size($header);
// }

.side-nav {
	// box-sizing: border-box;
	background: $primary-color;
	color: $back;
	width: 4vw;
	height: 100vh;
	border-radius: 0 1rem 1rem 0;
	padding: 2vh 0.2vw;
	display: grid;
	align-content: space-between;

	.brand {
		@include flex-direction-center(column);
		text-decoration: none;
		max-width: 100%;
		.logo {
			width: 100%;
			background: $white;
			// color: $grey;
			@include shape;
			@include img-size;
		}
		.brand-name {
			font-weight: $bolder;
			color: $back;
			display: none;
			text-align: center;
			text-transform: uppercase;
			p {
				font-size: 1.6rem;
				line-height: 5rem;
				letter-spacing: 0px;
				font-family: monospace;
			}
			.rotate {
				transform: rotateZ(270deg);
				text-transform: lowercase;
				font-size: small;
				font-family: cursive;
				line-height: 1rem;
				letter-spacing: 0.2px;
				margin-left: -5px;
				// margin-top: -2px;
			}
		}
	}
	.toggle,
	.mobile-menu-close-icon {
		display: none;
	}

	.navbar {
		text-align: center;
		// border: 2px solid $secondary-color;
		.nav-links {
			list-style: none;
		}
		.nav-item {
			// border: 1px solid $secondary-color;
			// padding: 0.5rem 0;
			margin-bottom: 0.4rem;
			.nav-link {
				@include flex-direction-center(column);
				color: inherit;
				text-decoration: none;
				.nav-icon {
					width: 80%;
					background: $white;
					@include shape;
					@include img-size;
				}
				.nav-text {
					display: none;
					// color: $black;
				}
			}
		}
	}

	.social-icons {
		padding: 1vh 0;
		// border: 1px solid $back;
		width: 100%;
		@include flex-direction-center(column);

		.social-icon {
			background: $grey;
			margin: 0.1vh 0;

			width: 50%;
			@include shape;
			@include img-size;
		}
	}
}

.open-mobile-nav {
	transform: translateY(0%);
	transition: 0.4s ease-in-out;
}
.open-mobile-social {
	transform: translateX(0%);
	transition: 0.6s ease-in-out;
}
