@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap");

//================= colors ============================
// $primary-color: #273e47;
$primary-color: #2f2fa2;
// $primary-color: #3e8914;
$secondary-color: #f64c72;
// $secondary-color: #bd632f;
$accent: #553d67;
// $accent: #a4243b;
$text-color: #2a1b3d;
$black: #000;
$grey: #a4b3b6;
$nav-back: #ebebeb;
// $back: #d8c99b;
$back: #f7f7f7;
$white: #fff;

// =========================font weight==================
$normal: 400;
$medium: 600;
$bold: 700;
$bolder: 900;

// =========================font Family==================

// font-family: 'Poppins', sans-serif;
$header-font: "Poppins", sans-serif;
$body-font: "Poppins", sans-serif;
$logo-font: "Poppins", sans-serif;

//=========================font-sizes=======================
$display: 4rem;
$header: 2.7rem;
$sub-header: 1.6rem;
$base: 1rem;

// for medium devices

$display-md: 3rem;
$header-md: 2rem;
$sub-header-md: 1.4rem;
$base-md: 1rem;

// for small devices
$display-sm: 2rem;
$header-sm: 1.7rem;
$sub-header-sm: 1.1rem;
$base-sm: 0.8rem;
