@import "./mixins";
@import "./variable";
@import "./global";
@import "./side-nav";
@import "./media";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 14px;
}
body {
	background: $grey;
	z-index: 1;
	font-family: $body-font;
	font-weight: $normal;
}
