@import "./mixins";
@import "./variable";
@import "./global";
@import "./side-nav";
@import "./hero";
@import "./about";
@import "./media";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 16px;
	word-break: break-word;
}
body {
	background: $white;
	z-index: 1;
	font-family: $body-font;
	font-weight: $normal;
}
